h1 {
    font-family: 'Fascinate', cursive;
    font-size: xx-large;
    color: white;
}

#camera {
    border-style: dashed;
    width: 300px;
    height: 250px;
    margin-left:200px;
    background-color: rgb(161, 160, 160);
    
}

#result {
    border-style: dashed;
    width: 300px;
    height: 250px;
    margin-right:200px;
    background-color: rgb(161, 160, 160);
}
